*
{
	margin: 0;
	padding: 0;
}

*, *:before, *:after
{
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}

body
{
	background: #222222;
}

.numbers
{
	list-style: none;
	width: 60%;
	margin: 4% auto 0 auto;

}

.numbers li, .numbers button
{
	width: 31%;
	float: left;
	background: #413F42;
	padding: 2% 0;
	text-align: center;
	font-size: 2em;
	color: #fff;
	margin: 0.5% 1.15%;
	font-weight: bold;
	border: none;
}

.numbers li:hover, .numbers button:hover, .operators button:hover
{
	cursor: pointer;
	background: #2ebad3;
}

.operators button:last-child
{
	width: 97.70%;
	margin: 0.5% 1.15%;
}
.operators
{
	clear: both;
	width: 60%;
	margin: 2% auto;
}
.operators button
{
	width: 22.7%;
	float: left;
	padding: 2% 0;
	text-align: center;
	font-size: 2em;
	background: #413F42;
	border: 1px solid #fff;
	color: #fff;
	border: none;
	margin: 0.5% 1.15%;
	font-weight: bold;
}
.operators button:last-child
{
	background: #2ebad3;
}

.operators button:last-child:hover
{
	background: #2494a8;
}

.result
{
	width: 60%;
	margin: 0 auto;
	font-size: 10em;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.active
{
	background: #2ebad3 !important;
}